---
import Base from "../layouts/Base.astro";
import { en } from "../i18n/en";
---

<Base lang={en.lang} title={en.title}>
  <section>
    <h1>{en.heading}</h1>
    <p>{en.body}</p>
  </section>
</Base>
