---
import Base from "../../layouts/Base.astro";
import { pl } from "../../i18n/pl";
---

<Base lang={pl.lang} title={pl.title}>
  <section class="document-section">
    <h1>{pl.heading}</h1>
    <p>{pl.body}</p>
  </section>
</Base>
